$background-principal: #ffffff;
$background-secundario: #d2e1ee;
$background-tercer: #a94ff3;
$background-cuarto:#6db4f3; 
$background-quinto: #99c8f2;
$color-text-principal: #a94ff3;
$color-text-secundario: #0000ff;
$color-text-tercer: #ffffff;
$font-family-primario:'Open Sans', sans-serif;
$font-family-secundario:'Roboto', sans-serif;