/*header principal*/
header{
    position: sticky;
    width: 100%;
    z-index: 4;
    top: 0;
    background-color: $background-principal;  
}
/* primer header*/
.header-div{
    padding: .625rem 0rem;
    ul{
        font-family: $font-family-primario; 
        li{
            list-style: none;
            a{
                color: $color-text-principal;
                font-size: 18px;
                text-decoration: none;
                &:hover{
                    color: $color-text-secundario;
                }
            }
        }
    }
}
.navdir{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 30px;
}


/*segundo header*/

h1{
    font-family: $font-family-primario;
    font-size: 2rem;
    color: $color-text-tercer;
}
.header-nav{
    background-color: $color-text-principal;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-around;
        ul{
            font-family: $font-family-primario;
            li{
                list-style:none;
                a{
                    text-decoration: none;
                    font-size: 1.2rem;
                    color: $color-text-tercer;
                    &:hover{
                        color: $color-text-secundario;
                    }
                }
            }
        }
}
.navbar{
    @extend .navdir;
    align-items: center;
    gap: 20px;
    row-gap: 20px;
    text-decoration: none;
}

