/*pagina quienes somos*/

.grid{
    display: grid;
    width: 100%;
    justify-content: center;
    gap:10px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: repeat(3 1fr);
    grid-template-areas:
    "nosotros vision mision"
   "nosotros vision mision"
    "nosotros vision mision";
        .nosotros{
            grid-area:nosotros ;
            padding: 16px;
            font-family: $font-family-primario;
            background-color: $background-secundario;
            align-items: center;
            text-align: center;
        }
        .vision{
            grid-area:vision ;
            padding: 16px;
            font-family: $font-family-primario;
            background-color:$background-quinto;
            align-items: center;
            text-align: center;
        }
        .mision{
            grid-area:mision ;
            padding: 16px;
            font-family: $font-family-primario;
            background-color: $background-cuarto;
            align-items: center;
            text-align: center;
        }
}