@media (max-width: 1024px){
    /*pagina inicio*/
    .header-div{
        display: flex;
        justify-content: center;
        .navdir ul li a{
            color: $color-text-principal;
            font-size: 16px;
            &:hover{
                color: $color-text-secundario;
            }
        }
    }
    .section-cards{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .cards{
            width: 320px;
            height: 550px;
            position: relative;
        }
    }
    /*quienes somos*/
    .grid{
        grid-template-rows: 400px;
    }
    /*footer bostrap*/
    .footer-principal-b{
        height: 200px;
        background-color: $background-tercer;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        h3 {
            color: $color-text-tercer;
            text-align: center;
        }
        h4{
            color: $color-text-tercer;
            text-align: center;
        }
        .f-rss-b{
            text-align: center;
            .icon-face-b{
                width: 30px;
            }
        }
        .f-navbar-b{
            li{
                list-style: none;
                text-align: center;
                a{
                    text-decoration: none;
                    color: $color-text-tercer;
                    font-size: 20px;
                    &:hover{
                        color: $color-text-secundario;
                    }
                }
            }
        }
        .f-cont-b{         
            .span-b{
                color: $color-text-tercer;
                font-size: 16px;
            }
        }
    }
        .copy-b{
            background-color: $background-tercer;
            text-align: center;
            padding: 15px;
            color: $color-text-tercer;
            font-size: 20px;
            font-family: $font-family-primario;
        }
    .footer-principal{
        height: 300px;
        background-color: $background-tercer;
        display: flex;
        align-items: center;
    }
    .copy{
        padding: 10px;
    }
}