@media (max-width: 768px){
    /*pag inicio*/
    .header-div{
        display: flex;
        justify-content: center;
        .navdir ul li a{
            color: $color-text-principal;
            font-size: 16px;
            &:hover{
                color: $color-text-secundario;
            }
        }
    }
        
    
        .footer-principal-cb{
            height: 250px;
            background-color: $background-tercer;
            /*@include flex(row,wrap,space-evenly);
            align-items: center;*/
                h3 {
                    color: $color-text-tercer;
                    text-align: center;
                }
                h4{
                    color: $color-text-tercer;
                    text-align: center;
                }
                .f-rss-cb{
                text-align: center;
                    .icon-face-b{
                        width: 20px;
                    }
                }
                .f-navbar-cb{
                    li{
                        list-style: none;
                        text-align: center;
                            a{
                            text-decoration: none;
                            color: $color-text-tercer;
                            font-size: 20px;
                                &:hover{
                                    color: $color-text-secundario;
                                }
                            }
                    }
                }
                .f-cont-cb{
                        .span-b{
                        color: $color-text-tercer;
                        font-size: 16px;
                        }
                }
        }
        .copy-cb{
        background-color: $background-tercer;
        padding: 10px;
        text-align: center;
        color: $color-text-tercer;
        font-size: 20px;
        font-family: $font-family-primario;
        }
}

