@media (max-width: 768px){
    /*pag inicio*/
    .header-div{
        display: flex;
        justify-content: center;
        .navdir ul li a{
            color: $color-text-principal;
            font-size: 16px;
            &:hover{
                color: $color-text-secundario;
            }
        }
    }


    /*quienes somos*/
    .grid{
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        "nosotros nosotros"
         "vision vision"
          "mision mision";
    }

    .footer-principal{
        width: 100%;
        background-color:$background-tercer;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        h4{
            color: $color-text-tercer;
            font-family: $font-family-primario;
            font-size: 16px;
            padding: 10px; 
        }
        h3 {
            color: $color-text-tercer;
            font-family: $font-family-primario;
            font-size: 20px;
            padding: 10px;  
        }      
        .f-rss{
                align-items: center;
                .icon-face{
                    width: 35px;
                    padding: 5px;
                }
        }
        .f-navbar{
                li{
                list-style: none;
                text-align: center;
                    a{
                        text-decoration: none;
                        color: $color-text-tercer;
                        font-size: 20px;
                        font-family: $font-family-primario;
                        &:hover{
                            color: $color-text-secundario;
                        }
                    }
                }
        }
        .f-cont{
            .span{
                color: $color-text-tercer;
                font-family: $font-family-primario;
                font-size: 16px;
            }
        }
    }
    .copy{
        background-color: $background-tercer;
        color: $color-text-tercer;
        font-size: 20px;
        font-family: $font-family-primario;
        text-align: center;
        padding: 10px;
    }
 
    .footer-principal-b{
       
            .f-rss-b{
                flex-direction: column;
                justify-content: center;
                text-align: center;
                
                .icon-face-b{
                    width: 30px;
                }
            }
        }

    }